{% block fast_order_detail %}

    <sw-page class="fast-order-detail">
        {% block fast_order_detail_header %}

            <template slot="smart-bar-header">
                <h2>
                    Fast Order
                </h2>
            </template>

        {% endblock %}
    </sw-page>

{% endblock %}