{% block fast_order_form_header_menu_button %}
    <button class="btn header-actions-btn" type="button" data-offcanvas-account-menu="true" style="padding-left: 0">
        {% sw_icon 'paper-pencil' style{
            'pack':'default'
        } %}
        Enter articles
    </button>
{% endblock %}