<div class="row justify-content-center">
    <div class="card col-md-8">
        <div class="card-body">
            <form action="{{ path('store-api.fast-order.add-to-card') }}" method="get" data-form-csrf-handler="true">
                <div class="form-content">
                    <div class="form-row justify-content-center">
                        {{ dump() }}
                    </div>
                </div>
                <button class="btn btn-primary" type="submit">Add to shopping list</button>
            </form>
        </div>
    </div>
</div>





