{% block fast_order_upload_form %}
    <div id="upload-form" class="fast-order-upload-form">

        {% block fast_order_upload_form_description %}
            <div class="fast-order-upload-form-description row">

            </div>
        {% endblock %}

        {% block fast_order_upload_form_attention%}
            <div class="fast-order-upload-form-attention row">

            </div>
        {% endblock %}

        <form action="">
            {% block fast_order_upload_form_choose_file %}
                <div class="fast-order-upload-form-choose-file row">
                    <input type="file" placeholder="{{'elio_fast_order.uploadForm.inputFilePlaceholder' |trans }}">
                </div>
            {% endblock %}

            {% block fast_order_upload_form_submit_button %}
                <div class="fast-order-upload-form-submit-button row">
                    <input type="submit" title="{{ 'elio_fast_order.uploadForm.submitButtonTitle'|trans }}">
                </div>
            {% endblock %}
        </form>

    </div>
{% endblock %}