{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_main %}
    {% block fast_order %}
        <div data-fast-order class="fast-order-main d-flex justify-content-center">
            <div class="card col-8">

                {% block base_flashbags %}
                    {{ parent() }}
                {% endblock %}

                {% block fast_order_form_header %}
                    <div class="fast-order-card-header card-header row">

                        {% block fast_order_form_header_menu_nav_items %}

                            <div class="fast-order-header-menu-nav-items nav nav-tabs">
                                <div id="nav-item-enter-article" class="nav-link" role="tab">
                                    {% sw_icon 'paper-pencil' style{
                                        'pack':'default'
                                    } %}
                                    {{ 'elio_fast_order.form.headerNavItemEnterArticles'|trans }}
                                </div>

                                <div id="nav-item-upload" class="nav-link" role="tab">
                                    {% sw_icon 'move-file' style{
                                        'pack':'default'
                                    } %}
                                    {{ 'elio_fast_order.form.headerNavItemUpload'|trans }}
                                </div>
                            </div>

                        {% endblock %}

                    </div>
                {% endblock %}

                {% block fast_order_form_body %}
                    <div class="fast-order-form-body card-body">
                        {% sw_include '@ElioFastOrder/storefront/form/fast-order-enter-articles-form.html.twig' %}

                        {% sw_include '@ElioFastOrder/storefront/form/fast-order-upload-form.html.twig' %}
                    </div>
                {% endblock %}

            </div>
        </div>
    {% endblock %}

{% endblock %}