{% block fast_order_form_container %}
    <div class="d-flex justify-content-center">
        <div class="card col-8">
            {% block fast_order_form_header %}
                <div class="card-header">
                    <div>
                        {% sw_include '@ElioFastOrder/storefront/form/fast-order-form-header-menu-item.html.twig' %}
                    </div>
                    <p class="card-text">
                        Please enter the product number and quantities you want to order.
                        The availability of the product number is checked and displayed
                        directly while typing. You can enter all data completely via keyboard.
                        In the result, you can navigate through the results with the arrow up
                        and arrow down key. With the enter key you can select the correct entry.
                    </p>
                </div>
            {% endblock %}

            {% block fast_order_form_body %}
                <div class="card-body" style="padding: .75rem 1.25rem;">
                    <div class="container">
                        {% block fast_order_form_titles %}
                            <div class="row align-items-start">
                                <div class="col-7" style="padding-left: 0">
                                    <h1 class="card-title">
                                        Product number
                                    </h1>
                                </div>

                                <div class="col-5" style="padding-right: 0">
                                    <h1 class="card-title">
                                        Quantity
                                    </h1>
                                </div>
                            </div>
                        {% endblock %}
                        <form action="{{ path('store-api.fast-order.add-to-card') }}"
                              method="post"
                              data-form-csrf-handler="true" >
                            {% sw_include '@ElioFastOrder/storefront/form/fast-order-form-inputs-row.html.twig'
                                with{
                                fastOrderProductId:"0",
                                productNumberCustomPlaceholder:"Product number",
                                required:"required",
                                productQuantityRequired:"required"
                            }
                            %}

                            {% sw_include '@ElioFastOrder/storefront/form/fast-order-form-inputs-row.html.twig'
                                with{
                                fastOrderProductId:"1",
                                productNumberCustomPlaceholder:"Product number"
                            }
                            %}

                            {% sw_include '@ElioFastOrder/storefront/form/fast-order-form-inputs-row.html.twig'
                                with{
                                fastOrderProductId:"2",
                                productNumberCustomPlaceholder:"Product number"
                            }
                            %}

                            {% sw_include '@ElioFastOrder/storefront/form/fast-order-form-inputs-row.html.twig'
                                with{
                                fastOrderProductId:"3",
                                productNumberCustomPlaceholder:"Product number"
                            }
                            %}

                            <button class="btn btn-primary" type="submit" >Add to shopping list</button>
                            {{ sw_csrf('store-api.fast-order.add-to-card') }}
                        </form>
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>

{% endblock %}


<style>
    .ctm-input-field>label{
        display: none;
    }
</style>










