.ctm-input-field>label{
  display: none;
}

.fast-order-card-header{
  background-color: #fff;
}

.fast-order-form-description{
  padding: 1rem 0;
}

.fast-order-col-right{
  padding-right: 0;
}

.fast-order-col-left{
  padding-left: 0;
}


.fast-order-input-field{
  padding: .2rem 0;
}
.fast-order-input-submit{
  padding-top: 2rem;
  padding-bottom: 2rem;
}