.fast-order-form-container{
  margin-top: 5rem;
}
.ctm-input-field>label{
  display: none;
}

.fast-order-card-header{
  background-color: #fff;
}

.fast-order-form-description{
  padding: 1rem 0;
}

.fast-order-form-body{
  padding: .75rem 1.25rem;
}

.fast-order-col-right{
  padding-right: 0;
}

.fast-order-col-left{
  padding-left: 0;
}

.fast-order-form-header-menu-button-enter-articles{
  padding-left: 0
}

// Inputs row
.fast-order-form-inputs-row{
  padding: .5rem 0;
}

.fast-order-form-inputs-row-number-field{
  padding-left: 0;
}

.fast-order-form-inputs-row-select-quantity{
  padding-right: 0;
}

.fast-order-input-submit{
  padding-top: 2rem;
  padding-bottom: 2rem;
}

// Search
#search-result{
  width: 100%;
  position: absolute;
  z-index: 1000;
}

.fast-order-search-result-container{
  max-height: 10rem;
  height: auto;
  width: 95%;

  margin-top: .5rem;
  margin-left: auto;
  margin-right: auto;
  padding: .5rem;

  border: 1px solid #bcc1c7;
  background-color: #fff;

  list-style: none;
  user-select: none;
  overflow: auto;

  box-shadow: 0 10px 25px -15px #000;
}

.fast-order-search-result-product{
  height: 4rem;
  margin: 0 auto;
  cursor: pointer;

}

.fast-order-search-result-product:hover{
  color: #008490;
}

.fast-order-search-result-product .row{
  height: 100%;
}

.fast-order-search-result-product-image-container{
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.fast-order-search-result-product-image{
  max-height: 50px;
  max-width: 50px;
}

.fast-order-search-result-product-name{
  height: 50%;
}

.fast-order-search-result-product-number{
  height: 50%;

  font-size: smaller;
}

.fast-order-search-result-product-price{
  height: 100%;

  display: flex;
  align-items: center;
  text-align: right;
}

.fast-order-search-result-not-found{
  text-align: center;
}