.fast-order-upload-form{
  margin-top: 2.5rem;
}

.fast-order-upload-form-description{
  font-size: medium;
}

.fast-order-upload-form-attention{
  font-size: medium;
}

.fast-order-upload-form-choose-file{
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
}