.fast-order-form-body{

}

.fast-order-col-right{
  padding-right: 0;
}

.fast-order-col-left{
  padding-left: 0;
}

.fast-order-total-amount-row{
  margin-top: 1rem;
}

// Inputs row
.fast-order-form-inputs-row{
  padding: .5rem 0;
}

.fast-order-form-inputs-row-number-field{
  padding-left: 0;
}

.fast-order-form-inputs-row-select-quantity{
  padding-right: 0;
}

.fast-order-input-submit{
  padding-top: .5rem;
  padding-bottom: 2rem;
}