.fast-order-card-header{
  background-color: #fff;
  padding: 0;
}

.fast-order-header-menu-nav-items{
  border: none;
}

.fast-order-header-menu-nav-items .nav-link{
  border: none;
  cursor: pointer;
  margin-left: 1rem;
  border-bottom: .1rem solid #afafaf;
}

.fast-order-header-menu-nav-items .nav-link:hover{
  border: none;
  border-bottom: .1rem solid #008490;
}

.fast-order-header-menu-nav-items .nav-link:first-child{
  margin-left: 0;
}

.fast-order-form-description{
  padding: 2.5rem 0;
  font-size: medium;
}