{# @var product \Shopware\Core\Content\Product\SalesChannel\SalesChannelProductEntity #}

{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_main %}

    <div data-fast-order-search>
        <input name="searchInput" id="search-input" type="text">

        <div id="search-result"></div>
    </div>
{% endblock %}